<div class="page__footer-follow">
</div>


<table border="0">
<tr>
<td> <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>  
<script type="text/javascript" src="//counter.websiteout.net/js/28/6/4/1"></script></td> 
<td>锲而含之，朽木不折；锲而不舍，金石可镂。——《荀子劝学》 </td>
<td><a href="https://clustrmaps.com/site/1bqdl"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=pL2YjwZFmvN65U0II3-AGNSIiQERZcQI6_VoY_-jnyw&cl=ffffff" /></a></td>
<td> <b>Please feel free to contact me</b> <br> Emails: eejwentong@ust.hk; jwentong@foxmail.com  <br>Address：Room 3120, Acdemic Building, HKUST, <br>Clear Water Bay, Kowloon, NT, Hong Kong<br> </td>
</tr>
</table>



