<div class="page__footer-follow">
</div>


<table border="0">
<tr>
<td> <div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.</div>  </td>
<td><script type="text/javascript" src="//counter.websiteout.net/js/15/6/0/0"></script> </td>
<td> 锲而含之，朽木不折；锲而不舍，金石可镂。——《荀子劝学》</td>
<td><a href="https://clustrmaps.com/site/1bqdl"  title="Visit tracker"><img src="//www.clustrmaps.com/map_v2.png?d=pL2YjwZFmvN65U0II3-AGNSIiQERZcQI6_VoY_-jnyw&cl=ffffff" /></a></td>
<td> Email: eejwentong@ust.hk<br> &nbsp;&nbsp;    jwentong@foxmail.com  </td>
</tr>
</table>



